@charset "utf-8";
/* CSS Document */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 0 0 0;
  background-color: #f5f5f5;
}

.main {
  margin-bottom: 50px;
  margin-top: 10px;
}

.btn-delete {
	display: inline-block;
}

.btn-add, .export-container {
  margin-top: 23px;
  margin-right: 15px;
}

.catalogoFecha, .catalogoFechaHora {
  width: 250px;
}

.col-titulo h3 {
  margin-top: 3px !important;
}


.bs-callout {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eee;
  border-image: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  margin: 10px 0;
  padding: 10px;
}

.bs-callout h4 {
  margin-top: 0;
}

.bs-callout-info {
  border-left-color: #5bc0de;
}

.bs-callout-info h4 {
  color: #5bc0de;
}

.bs-callout-danger {
  border-left-color: #d9534f;
}

.bs-callout-danger h4 {
  color: #d9534f;
}

.bs-callout-success {
  border-left-color: #3c763d;
}

.bs-callout-success h4 {
  color: #3c763d;
}